button,
input,
select,
textarea {
	max-width: 100%;
	margin: 0;
	font: inherit;
	vertical-align: middle;
}

button:focus,
input:focus,
button:active,
input:active {
	outline: 0;
}

.button,
.more-link,
button:not(.menu-toggle),
input[type="button"],
input[type="reset"],
input[type="submit"],
.posts-navigation .nav-links a,
#content #infinite-handle span button {
	display: inline-block;
	box-sizing: content-box;
	padding: .4375em .875em;
	cursor: pointer;
	-webkit-transition: background 120ms ease-in-out, box-shadow 120ms ease-in-out;
			transition: background 120ms ease-in-out, box-shadow 120ms ease-in-out;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	color: #fff;
	border: solid 1px transparent;
	border-radius: 3px;
	background: #0087be;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.button:focus,
.button:active,
.more-link:focus,
.more-link:active,
button:not(.menu-toggle):focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.posts-navigation .nav-links a:focus,
#content #infinite-handle span button:focus,
button:not(.menu-toggle):active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.posts-navigation .nav-links a:active,
#content #infinite-handle span button:active {
	outline: 0;
	background: #767676;
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, .25), 0 0 0 6px rgba(0, 0, 0, .08);
}

.button:hover,
.more-link:hover,
button:not(.menu-toggle):hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.posts-navigation .nav-links a:hover,
#content #infinite-handle span button:hover {
	text-decoration: none;
	color: #fff;
	background: #767676;
}

.button:visited,
.more-link:visited {
	color: white;
}

.more-link {
	display: block;
	clear: both;
	width: 130px;
	margin: .4375em 0 1.75em;
	text-align: center;
}

input + button:not(.menu-toggle),
input + input[type="button"],
input + input[type="reset"],
input + input[type="submit"],
input + .posts-navigation .nav-links a,
input + #content #infinite-handle span button,
label + button:not(.menu-toggle),
label + input[type="button"],
label + input[type="reset"],
label + input[type="submit"],
label + .posts-navigation .nav-links a,
label + #content #infinite-handle span button {
	margin-left: .21875em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="url"],
textarea {
	box-sizing: border-box;
	-webkit-transition: color 160ms ease, border-color 160ms ease, box-shadow 160ms ease;
			transition: color 160ms ease, border-color 160ms ease, box-shadow 160ms ease;
	font-family: Georgia, "Times New Roman", serif;
	color: #404040;
	border: 1px solid #a1a1a1;
	border-radius: 3px;

	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus {
	border-color: #0087be;
	outline: 0;
	box-shadow: 0 0 3px rgba(87, 173, 104, .15) inset;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="url"] {
	height: 1.75em;
	padding: 0 .875em;
	line-height: 2;
}

textarea {
	padding: .4375em .875em;
}

input[type="checkbox"],
input[type="radio"] {
	position: relative;
	top: 0;
	box-sizing: border-box;
	margin-right: .1em;
	padding: 0;
	line-height: 1;
	vertical-align: baseline;
}

.entry-content input[type="checkbox"],
.entry-content input[type="radio"],
.entry-summary input[type="checkbox"],
.entry-summary input[type="radio"] {
	top: -.1em;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

:focus,
:active {
	outline: 0;
}
