/*--------------------------------------------------------------
## - >= 518px
--------------------------------------------------------------*/

@media screen and (min-width: 32.375em) {
	h1 {
		font-size: 47px;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 19px;
	}

	h5 {
		font-size: 15px;
	}

	h6 {
		font-size: 14px;
	}

	h5,
	h6 {
		line-height: 1.3;
	}

	.entry-content,
	.entry-summary {
		font-size: 19px;
	}

	.entry-title {
		font-size: 47px;
	}

	.page-header:not(.page-header-light) h1 {
		font-size: 47px;
		line-height: 1;
	}

	.has-header-image #hero-header .inner {
		padding-top: 0;
	}

	.menu-toggle {
		display: none;
	}

	.main-navigation {
		text-align: center;
	}

	.has-header-image .main-navigation {
		margin-top: .875em;
	}

	.main-navigation ul {
		display: block;
	}
	.main-navigation a {
		display: block;
	}
	.main-navigation li {
		padding: 0;
		width: auto;
		border: 0;
		margin: .209875em .4375em;
	}
	.main-navigation ul a,
	.main-navigation ul ul a,
	.main-navigation ul ul ul a,
	.main-navigation ul ul ul ul a,
	.main-navigation ul ul ul ul ul a,
	.main-navigation ul ul ul ul ul ul a {
		padding: .4835em .209375em;
	}

	.main-navigation ul ul {
		background: #0087be;
		position: absolute;
		z-index: 99999;
		top: 2em;
		left: -999em;
		margin-left: -.4em;
		float: left;
		text-align: left;
	}
	.main-navigation ul ul ul {
		top: -.209875em;
		left: -999em;
		margin: 0;
	}
	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: 100%;
	}
	.main-navigation ul ul a {
		color: white;
		width: 200px;
		-webkit-transition: opacity 140ms ease-in-out;
				transition: opacity 140ms ease-in-out;
		-webkit-font-smoothing: antialiased;
	}
	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		left: auto;
	}

	.main-navigation ul ul li:hover > a,
	.main-navigation ul ul li.focus > a,
	.main-navigation > div > ul > li.current-menu-item > a,
	.main-navigation > div > ul > li.current_page_item > a,
	.main-navigation > div > ul ul li.current-menu-item > a,
	.main-navigation > div > ul ul li.current_page_item > a {
		opacity: 0.7;
	}

	.main-navigation li.menu-item-has-children > a:after,
	.main-navigation li.page_item_has_children > a:after {
		position: relative;
		display: inline-block;
		margin-left: 6px;
		content: "\203A";
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		font-family: inherit;
		font-size: 20px;
		font-weight: bold;
		font-style: normal;
		font-variant: normal;
		line-height: 20px;
		text-align: center;
		vertical-align: baseline;
		text-decoration: inherit;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		speak: none;
	}
	.main-navigation ul ul li.menu-item-has-children > a:after,
	.main-navigation ul ul li.page_item_has_children > a:after {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	.post-navigation .nav-links .nav-previous {
		clear: none;
		margin: 0 0 0 -.21875em;
		width: auto;
	}

	blockquote.aligncenter {
		padding: .875em 3.5em;
	}
	blockquote.alignright,
	blockquote.alignleft {
		max-width: 34%;
	}
	blockquote.alignleft {
		margin-right: 1.75em;
	}
	blockquote.alignright {
		margin-left: 1.75em;
	}
}

/*--------------------------------------------------------------
## - >= 783px
--------------------------------------------------------------*/

@media screen and (min-width: 48.9375em) {

	.custom-logo {
		max-width: 750px;
	}
	.comment-form input[type="text"],
	.comment-form input[type="password"],
	.comment-form input[type="email"],
	.comment-form input[type="search"],
	.comment-form input[type="url"] {
		width: 70%;
	}
	.has-header-image #hero-header {
		padding: 10vh 3.5em;
	}
	.comments-area li.comment {
		padding: 1.75em 0 0 1.75em;
	}
	.comments-area li.comment .comment-respond {
		margin-left: 0;
	}
	.comments-area li.comment .comment {
		margin-left: 0;
	}
	.comments-area li.comment .comment-body {
		padding: 0;
	}
	.bypostauthor {
		box-shadow: 2px 2px 3px rgba(87, 173, 104, .13) inset;
	}
	.entry-author {
		min-height: 100px;
	}
	.entry-author .author-bio,
	.entry-author .author-heading {
		max-width: 70%;
	}
	.entry-author .author-title {
		font-size: 24px;
		line-height: 1.55;
		margin-top: -.21875em;
	}
	.entry-author .author-avatar,
	.entry-author .author-avatar img {
		float: left;
		margin: 0;
	}
	.entry-author .author-bio,
	.entry-author .author-heading {
		margin-left: 100px;
	}
	.site-posted-on {
		position: absolute;
		top: 0;
		right: 0;
		left: auto;
		display: block;
		margin-top: 1.75em;
		margin-left: 0;
		text-align: right;
	}

	.footer-widgets .widget-area {
		float: left;
	}
	.footer-widgets .widget-area:nth-child(1):nth-last-child(2),
	.footer-widgets .widget-area:nth-child(2):nth-last-child(1) {
		width: 48%;
		margin-right: 4%;
	}
	.footer-widgets .widget-area:nth-child(1):nth-last-child(2):last-of-type,
	.footer-widgets .widget-area:nth-child(2):nth-last-child(1):last-of-type {
		margin-right: 0;
	}
	.footer-widgets .widget-area:nth-child(1):nth-last-child(3),
	.footer-widgets .widget-area:nth-child(2):nth-last-child(2),
	.footer-widgets .widget-area:nth-child(3):nth-last-child(1) {
		width: 30%;
		margin-right: 5%;
	}
	.footer-widgets .widget-area:nth-child(1):nth-last-child(3):last-of-type,
	.footer-widgets .widget-area:nth-child(2):nth-last-child(2):last-of-type,
	.footer-widgets .widget-area:nth-child(3):nth-last-child(1):last-of-type {
		margin-right: 0;
	}
}

/*--------------------------------------------------------------
## - >= 992px
--------------------------------------------------------------*/

@media screen and (min-width: 62em) {
	.has-header-image #hero-header {
		padding: 16.6vh 3.5em;
	}
	.has-header-image #hero-header .inner {
		max-width: 1080px;
	}
	#infinite-footer .container {
		max-width: 740px;
	}
	.has-sidebar #infinite-footer .container {
		max-width: 1080px;
	}
	.content-wrapper {
		box-sizing: border-box;
		max-width: 1080px;
		margin: 2.625em auto 0;
		padding: 0 1.75em;
	}
	body:not(.has-header-image) .site-header {
		margin-bottom: 0;
	}
	.content-area {
		max-width: 740px;
		margin: 0 auto;
	}
	.has-sidebar .content-area {
		float: left;
		width: 100%;
		max-width: 100%;
		margin: 0 -26% 0 0;
	}
	.has-sidebar .site-main {
		margin: 0 26% 0 0;
		max-width: 740px;
	}
	.has-sidebar .site-content .widget-area {
		float: right;
		width: 22%;
	}

	body:not(.has-header-image) .site-main > article:first-child {
		padding-top: 1.75em;
	}
}

/*--------------------------------------------------------------
## - >= 1100px
--------------------------------------------------------------*/

@media screen and (min-width: 68.75em) {
	/* Large tiled galleries */
	body:not(.has-sidebar) .tiled-gallery-wrapper,
	body:not(.has-sidebar) .jetpack-video-wrapper,
	body:not(.has-sidebar) img.size-big,
	body:not(.has-sidebar) .wp-caption.size-big img {
		float: none;
		margin-left: -180px;
		max-width: 1100px;
		width: 1100px !important;
	}

	body:not(.has-sidebar) .jetpack-slideshow img.size-big {
		margin-left: auto;
		max-width: 100%;
		width: auto !important;
	}
}

/*--------------------------------------------------------------
## - >= 1330px
--------------------------------------------------------------*/

@media screen and (min-width: 86.25em) {
	.content-wrapper {
		max-width: 1380px;
	}

	.has-header-image #hero-header .inner {
		max-width: 1380px;
	}
}
