.site-header img,
article > section img,
.entry-summary img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}

.site-header img,
article > section img,
.entry-summary img,
.widget img,
img[class*="align"],
img[class*="wp-image-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

.site-header img,
article > section img,
.entry-summary img,
img.size-full {
	max-width: 100%;
	width: auto\9; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}

article > section img.wp-smiley,
.entry-summary img.wp-smiley,
.comment-content img.wp-smiley {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: none;
}

.wp-caption {
	max-width: 100%;
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
}

.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright {
	margin-bottom: 1.5em;
}

.wp-caption img {
	display: block;
	margin: 5px auto 0;
	max-width: 98%;
}

.wp-caption-text {
	text-align: center;
	font-size: 80%;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}
