.site-content .posts-navigation {
	overflow: hidden;
	/* margin: 0 0 1.5em; */
}

.site-content .nav-previous,
.site-navigation .previous-image {
	float: left;
}

.site-content .nav-next,
.posts-navigation .next-image {
	float: right;
	text-align: right;
}

.single .posts-navigation {
	margin-top: 40px;
}

#nav-below {
	margin-top: 3em;
}

#nav-above {
	padding-bottom: 1em;
	padding-top: 1em;
	margin-top: 0;
	border-bottom: none;
}

#image-navigation {
	margin-bottom: 20px;
}
