/* Hide left-side author card under 1200px */
@media only screen and (max-width: 1200px) {
	.site,
	.single-column-layout .site {
		margin-top: 40px;
	}

	.infinite-scroll #secondary {
		display: none;
	}

	.infinite-scroll .site-content {
		padding-bottom: 60px;
	}

	.full-width-featured-image.single .wp-post-image,
	.full-width-featured-image.page .wp-post-image,
	.full-width-featured-image.blog .wp-post-image,
	.full-width-featured-image.archive .wp-post-image {
		margin-bottom: 0;
	}

	.site-description {
		font-size: 15px;
	}

	.site-published-date {
		font-size: 14px;
		line-height: 1;
	}

	.single .site-header-info {
		display: none;
	}

	.site-header {
		text-align: center;
		margin-left: 0;
		display: block;
		width: 100%;
		position: relative;
		margin-bottom: 0;
	}

	.blog article.show-full-content-first-post {
		padding-top: 40px;
	}

	.post-author-bottom {
		display: block;
	}

	.entry-meta {
		border-bottom: none;
	}

	.entry-title-meta-author {
		display: inline-block;
	}

	.entry-title-meta-post-date {
		display: inline;
	}

	.entry-title-meta-author .author-avatar {
		display: inline;
	}

	.single-format-quote .entry-title-meta-post-date,
	.single-format-aside .entry-title-meta-post-date {
		display: none;
	}

	.widget-area {
		float: right;
		width: 100%;
		margin-left: 0;
		text-align: inherit;
		padding-top: 40px;
	}

	.widget-area ul li a {
		display: inline-block;
	}

	#nav-below {
		margin-top: 40px;
		padding-bottom: 40px;
	}

	.single .entry-meta {
		border-top: none;
	}

	.page article {
		padding: 0 0 40px 0;
	}

	.main-navigation {
		clear: none;
	}

	#masthead .site-navigation {
		border-bottom: 1px solid #eee;
		margin-top: 0;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	#nav-below .site-navigation {
		margin-top: 40px;
	}

	.main-navigation li {
		display: inline-block;
		padding: 5px 10px;
		width: auto;
	}

	#masthead .site-title,
	#masthead .site-description {
		clear: none;
		margin-left: 0;
		margin-top: 0;
	}

	#masthead .site-title {
		font-size: 32px;
		font-style: normal;
		padding-top: 0;
		padding-left: 0;
	}

	#masthead .site-description,
	.single-column-layout #masthead .site-description {
		padding-left: 0;
		padding-top: 10px;
		margin-bottom: 20px;
	}

	#masthead .main-navigation ul {
		margin-left: -10px;
	}

	.archive .page-title,
	.archive .archive-title {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 500px) {
	.site,
	.single-column-layout .site {
		margin-top: 20px;
	}

	.site-header,
	.single-column-layout .site-header {
		text-align: left;
	}

	.site-main article.sticky {
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 10px;
		margin-left: -10px;
	}

	#masthead .site-title,
	.single-column-layout #masthead .site-title {
		padding-top: 0;
		font-size: 24px;
	}

	#masthead .custom-logo-link {
		float: right;
		margin-right: 0;
	}

	#masthead .custom-logo-link img,
	.single-column-layout #masthead .custom-logo-link img {
		max-width: 70px;
		margin-right: 0;
	}

	#masthead .site-title,
	#masthead .site-description,
	.single-column-layout #masthead .site-title,
	.single-column-layout #masthead .site-description {
		margin-left: 0;
	}

	#masthead .site-description,
	.single-column-layout #masthead .site-description {
		margin-bottom: 10px;
	}


	#masthead .site-navigation {
		margin-left: -10px;
		padding-bottom: 20px;
	}

	.single-column-layout .site-navigation {
		margin-bottom: 0;
	}

	#masthead .main-navigation ul,
	.single-column-layout #masthead .main-navigation ul {
		margin-left: inherit;
	}

	#masthead .main-navigation li {
		padding-top: 0;
		padding-bottom: 0;
	}

	.site-navigation button,
	.paging-navigation button {
		padding-left: 10px;
		padding-right: 10px;
	}

	.single .wp-post-image,
	.page .wp-post-image,
	.blog .wp-post-image,
	.archive .wp-post-image {
		margin-bottom: 10px;
	}

	#page {
		padding-left: 20px;
		padding-right: 20px;
	}

	article > section,
	.entry-summary,
	#comments {
		font-size: 18px;
		line-height: 1.4;
		width: 100%;
	}

	.entry-title {
		-webkit-hyphens: none;
		-moz-hyphens: none;
		hyphens: none;
		word-wrap: break-word;
	}

	h1.entry-title {
		font-size: 1.9em;
	}

	article > section h1,
	.entry-summary h1 {
		font-size: 1.7em;
	}

	article > section h2,
	.entry-summary h2 {
		font-size: 1.6em;
	}

	article > section h3,
	.entry-summary h3 {
		font-size: 1.5em;
	}

	article > section h4,
	.entry-summary h4 {
		font-size: 1.4em;
	}

	article > section h5,
	.entry-summary h5 {
		font-size: 1.3em;
	}

	article > section h6,
	.entry-summary h6 {
		font-size: 1.2em;
	}

	article > section ol,
	.entry-summary ol,
	ul {
		margin-left: 2em;
	}

	.author .author-avatar img {
		margin-top: 0;
		max-width: 70px;
		max-height: 70px;
	}

	.post-author-card .site-title {
		padding-top: 0;
		padding-left: 0;
	}

	.post-author-card .site-description {
		padding-left: 0;
	}

	.format-aside article > section,
	.format-quote article > section {
		font-size: 0.9em;
		margin-bottom: 0;
	}

	.format-aside blockquote,
	.format-quote blockquote {
		margin-left: 0;
	}

	.single .entry-meta {
		text-align: center;
		padding-bottom: 0;
		padding-top: 0;
	}

	.post-author-bottom {
		text-align: center;
	}

	.post-author-bottom .site-title {
		font-size: 24px;
		line-height: 2.2;
	}

	.post-author-bottom .custom-logo-link, .post-author-bottom .custom-logo-link img {
		float: none;
		max-width: 100px;
	}

	.post-author-bottom .post-author-info {
		margin-left: 0;
		margin-right: 0;
		padding-right: 0;
	}

	.post-author-bottom .post-published-date {
		margin-left: 0;
		position: inherit;
		margin-top: 0;
		top: inherit;
		width: 100%;
	}

	article > header {
		word-wrap: normal;
		hyphens: none;
		-webkit-hyphens: none;
		-moz-hyphens: none;
	}

	.commentlist ul.children {
		margin-left: 0;
		padding-left: 10px;
	}

	.commentlist .thread-even,
	.commentlist .thread-odd {
		padding-left: 10px;
	}

	article > section .subtitle,
	.entry-summary .subtitle {
		font-size: 1.2em;
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url,
	.comment-form-subscriptions {
		width: 100%;
	}

	.entry-meta #share-comment-button {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.full-width-featured-image #page {
		margin-top: 0;
	}

	.post-cover-overlay-post-title #page {
		margin-top: 20px;
	}

	.archive .page-title,
	.archive .archive-title,
	.page h1.entry-title {
		font-size: 2.2em;
	}

	.archive.author .archive-title {
		max-width: 100%;
	}

	.page h1.entry-title {
		margin-top: 0;
	}

	.entry-title-meta {
		letter-spacing: 0;
	}

	.page article {
		padding-top: 20px;
	}

	.format-standard .entry-title {
		width: 100%;
	}

	.post-excerpts h1.entry-title, .enhanced-excerpts h1.entry-title {
		font-size: 1.5em;
	}
}
